<%= form_with model: @task, local: true do |form| %>

  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@task.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <p>
   <%= form.select :who, options_for_select([['Mom', 'Mom'],['Dad', 'Dad'],['Irwin', 'Irwin'],['Uncle Rob', 'Uncle Rob']]), prompt: "Please Assign a Family Memeber" %>
 </p>

 <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Detail %><br>
    <%= form.text_area :details %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
