<div class="standard">
   <h1> Today's Date : <%= Time.now.strftime("%m-%d-%Y") %>
      Current Time :  <%= Time.now.strftime("%H:%M") %></h1>
</div>

<!-- table format has been changed to an unordered list.  could use some more styling but works as is-->

<div class="soft">
  <p><%= link_to 'Add a task to the list.', new_task_path %></p>
</div>

<ul>
   <% @tasks.each do |task| %>
     <li class="bold">
       <%= task.name %>
       <span class="soft">Assigned to:</span> <%= task.who %>
     <span class="standard"><%= link_to '... open task', task_path(task) %></span></li>
   <% end %>
</ul>
