<!-- this is formated in to look how i would like but could do with more styling if time permits -->
<div class="standard">
<h1> <%= @task.name %> </h1>

<p>
  <strong>Who:</strong>
  <%= @task.who %>
</p>

<p>
  <strong>Details:</strong>
  <%= @task.details %>
</p>

<p>
<%= link_to 'See all Tasks', tasks_path %> |
<%= link_to 'Edit this Task', edit_task_path(@task) %> |
<%= link_to 'This task is finished (delete).', task_path(@task),
        method: :delete,
        data: { confirm: 'Are you sure? More importantly, did you ask Mom?' } %>
 </p>
</div>
